$enable-responsive-font-sizes: true;

$font-family-serif: 'Playfair Display', 'New York Medium', serif;
$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$headings-font-family: $font-family-serif;

$line-height-base: 1.7;
$font-weight-medium: 600;
$headings-font-weight: 700;
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 7.594;
$h2-font-size: $font-size-base * 5.063;
$h3-font-size: $font-size-base * 3.375;
$h4-font-size: $font-size-base * 2.25;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1;

$gray-50: #fafafa;
$gray-100: #0c0000;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$black: $gray-900 !default;

// Colors
$primary: #e22900;
$color-block: $gray-400;
$embed-responsive-aspect-ratios: ((21 9), (16 9), (4 3), (1 1), (3 4));
