<template>
  <div class="container">
    <h1 class="title">Van</h1>
    <h2 class="subtitle">....</h2>
  </div>
</template>

<script>
export default {
  components: {}
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
